# Prepare:
    Here we are looking at the data and making sure it is realiable and that all the information is constant and pythonic.

# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import acquire as acq

# Preparing our columns

In [2]:
df = acq.get_sales_data()

In [7]:
df.drop(columns='Unnamed: 0',inplace=True)

In [10]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

## Getting familiar with our data

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      954 non-null    object
 1   order_date    954 non-null    object
 2   ship_date     954 non-null    object
 3   country       954 non-null    object
 4   city          954 non-null    object
 5   state         954 non-null    object
 6   postal_code   954 non-null    float64
 7   sales         954 non-null    float64
 8   quantity      954 non-null    float64
 9   discount      954 non-null    float64
 10  profit        954 non-null    float64
 11  category      954 non-null    object
 12  sub-category  954 non-null    object
 13  product_name  954 non-null    object
dtypes: float64(5), object(9)
memory usage: 104.5+ KB

In [23]:
# making the data standard. 
for cols in df.columns:
    if df[cols].dtype == 'object':
        df[cols] = df[cols].str.lower()
    else:
        df[cols] = round(df[cols], 2)

In [22]:
df.isna().sum()

order_id        0
order_date      0
ship_date       0
country         0
city            0
state           0
postal_code     0
sales           0
quantity        0
discount        0
profit          0
category        0
sub-category    0
product_name    0
dtype: int64

In [27]:
df.duplicated().sum()

0

In [28]:
df.head()

,order_id,order_date,ship_date,country,city,state,postal_code,sales,quantity,discount,profit,category,sub-category,product_name
0,ca-2016-152156,2016-11-08,2016-11-11,united states,henderson,kentucky,42420.0,261.96,2.0,0.00,41.91,furniture,bookcases,bush somerset collection bookcase
1,ca-2016-152156,2016-11-08,2016-11-11,united states,henderson,kentucky,42420.0,731.94,3.0,0.00,219.58,furniture,chairs,"hon deluxe fabric upholstered stacking chairs,..."
2,us-2015-108966,2015-10-11,2015-10-18,united states,fort lauderdale,florida,33311.0,957.58,5.0,0.45,-383.03,furniture,tables,bretford cr4500 series slim rectangular table
3,us-2015-108966,2015-10-11,2015-10-18,united states,fort lauderdale,florida,33311.0,22.37,2.0,0.20,2.52,office supplies,storage,eldon fold 'n roll cart system
4,ca-2014-115812,2014-06-09,2014-06-14,united states,los angeles,california,90032.0,48.86,7.0,0.00,14.17,furniture,furnishings,eldon expressions wood and plastic desk access...

# Setting the index to datetimne

In [33]:
df['order_date'] = pd.to_datetime(df.order_date, format='%Y-%m-%d')

In [35]:
df.set_index('order_date', inplace=True)

In [68]:
# Calculating the IQR of sale of numbers. 
Q3 = sales.quantile(q=0.75)
Q1 = sales.quantile(q=0.25)
IQR = Q3 - Q1

In [70]:
(IQR * 1.5 - Q1 ) + Q3

455.0